# Ignore logs and temp files
log/*
tmp/*
*.log

# Ignore local dependencies and system files
node_modules
.bundle
vendor/bundle
*.sqlite3

# Ignore git files
.git
.gitignore

# Ignore system files
.DS_Store
.env
